 html,
        body {
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
        }
        @font-face{
            font-family: "Segoe UI";
            src: url('../fonts/segoeuil.ttf');
        }
        .main-container {
            height: 100vh;
            width: 100vw;
            background-color: #1d539d;
            /* background-color: black; */
            color: white;
            padding:4%;
            box-sizing: border-box;
            overflow-y: auto;
            overflow-x:auto;
            font-family: "Segoe UI";
            
        }

        .cloud-image {
            height: 250px;
            margin:4%;
        }

        .success-text {
            margin:4% 0;
            font-size: 62px;
            line-height: 73px;
        }

        .description {
            font-size: 34px;
            line-height: 40px;
        }
        .next-steps-header {
            font-size: 24px;
            line-height: 28px;
            margin:2% 0;
        }

        .next-steps-body {
            display: flex;
            flex-direction: column;
        }

        .step {
            display: flex;
            margin:2% 0%;
            font-size: 15px;
            line-height: 21px;
        }

        .step-icon {
            height: 20px;
            width: 20px;
            margin-right: 10px;
        }
		
		.step-text a {
            color: white;
			text-decoration: none;
        }
		
		.step-text a:hover {
            color: white;
			text-decoration:underline;
        }

        .content {
            box-sizing: border-box;
            max-width: 830px;
            position: relative;
            margin: auto;
        }

        .tweet-container {
            min-width: 30px;
            min-height: 100px;
            margin: 0 20px;
            position: absolute;
            left: -100px;
            top: 110px;
        }
        .content-body{
            min-width: 400px;
            padding: 0;
        }

        @media (max-width: 1024px) {
            .main-container{
                padding: 2%;
            }
            .cloud-image {
                margin: 2%;
            }
            .next-steps-header {
                margin: 2%;
            }
            .success-text {
                font-size: 50px;
                line-height: 61px;
            }
            .description {
                font-size: 26px;
                line-height: 30px;
            }

            .step {
                font-size: 12px;
                line-height: 18px;
            }
            .tweet-container {
                top: 80px;
            }
            .content{
                max-width: 630px;
                min-width: 630px;
            }
        }
        
        @media (max-width: 830px){
            .content{
                max-width: 540px;
                min-width: 300px;
            }
            .content-body{
                max-width: 540px;
                margin: auto;
            }
            .tweet-container {
            left: -100px;
            top: 60px;
            }
            .description {
                font-size: 20px;
                line-height: 22px;
            }
            .success-text {
                font-size: 42px;
                line-height: 51px;
            }
            .step {
                font-size: 14px;
                line-height: 20px;
            }
        }
       
